.body {
  grid-area: main;
  padding: 1rem;
  background-color: #e2e5eb;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px; /* Espacio entre el botón y la tabla */
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Alinea el botón a la derecha */
}

.table {
  width: 100%;
}

.status-badge {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
}

.status-badge.created {
  background-color: #e3e3e3;
  color: #666;
}

.status-badge.assigned {
  background-color: #fff3cd;
  color: #856404;
}

.status-badge.in_progress {
  background-color: #cce5ff;
  color: #004085;
}

.status-badge.finished {
  background-color: #d4edda;
  color: #155724;
}
